<%- include('partials/header') %>
<%- include('partials/nav') %>

<h1>Welcome to FitSync!</h1>

<p>You are now logged in.</p>

<h2>Quick Actions</h2>
<ul>
    <li><a href="/workouts/new">Add workout</a></li>
    <li><a href="/workouts/history">View Workouts</a></li>
    <li><a href="/logout">Logout</a></li>
</ul>

<h2>Exercises (Coming Soon)</h2>
<ul>
    <li><a href="/exercises/new">Add Exercise (coming soon..)</a></li>
    <li><a href="/exercises/list">View Exercises (coming soon..)</a></li>
</ul>

<p>This is a temporary home page.</p>

<%- include('partials/footer') %>